---
- name: Set dock icon size
  community.general.osx_defaults:
    domain: com.apple.dock
    key: tilesize
    type: int
    value: "{{ dock_icon_size }}"
  notify: restart dock

- name: Set dock auto-hide
  community.general.osx_defaults:
    domain: com.apple.dock
    key: autohide
    type: bool
    value: "{{ dock_autohide }}"
  notify: restart dock

- name: Set dock orientation
  community.general.osx_defaults:
    domain: com.apple.dock
    key: orientation
    type: string
    value: "{{ dock_orientation }}"
  notify: restart dock

- name: Show recent applications in dock
  community.general.osx_defaults:
    domain: com.apple.dock
    key: show-recents
    type: bool
    value: "{{ dock_show_recents }}"
  notify: restart dock

- name: Show indicator lights for open applications
  community.general.osx_defaults:
    domain: com.apple.dock
    key: show-process-indicators
    type: bool
    value: true
  notify: restart dock

- name: Minimize windows into application icon
  community.general.osx_defaults:
    domain: com.apple.dock
    key: minimize-to-application
    type: bool
    value: true
  notify: restart dock
