---
- name: Ensure ~/.local/bin directory exists
  ansible.builtin.file:
    path: "{{ dotfiles_home }}/.local/bin"
    state: directory
    mode: '0755'

- name: Create scripts directory
  ansible.builtin.file:
    path: "{{ dotfiles_home }}/.local/bin/scripts"
    state: directory
    mode: '0755'

- name: Find custom bash scripts
  ansible.builtin.find:
    paths: "{{ role_path }}/files/scripts"
    patterns: "*.sh"
  register: bash_scripts
  delegate_to: localhost

- name: Copy custom bash scripts
  ansible.builtin.copy:
    src: "{{ item.path }}"
    dest: "{{ dotfiles_home }}/.local/bin/{{ item.path | basename }}"
    mode: '0755'
  loop: "{{ bash_scripts.files }}"
  when: bash_scripts.files | length > 0
