---
- name: Ensure ~/.local/bin directory exists
  ansible.builtin.file:
    path: "{{ dotfiles_home }}/.local/bin"
    state: directory
    mode: '0755'

- name: Create scripts directory
  ansible.builtin.file:
    path: "{{ dotfiles_home }}/.local/bin/scripts"
    state: directory
    mode: '0755'

- name: Copy bash scripts
  ansible.builtin.copy:
    src: scripts/
    dest: "{{ dotfiles_home }}/.local/bin/scripts/"
    mode: '0755'
